
<main>
<!--If the gamestate is finished, hide this counter-->
@if(gameState === 'start') {
<h1 class="green-text">
    Guess Counter: {{ guessCounter }}
</h1>



<div class="flags">
<!-- <span class="fi fi-{{ currentCountry.code}} thumbnail"></span> -->

<span class="fi fi-{{ guessCountries[currentIndex].code}} thumbnail"></span>
{{ guessCountries[currentIndex] | json }}
<div class="input-field">
    <input 
        placeholder="Type Here" 
        type="text"
        (keyup)="keyUp($event)"
        [value]="currentName"
        />
    <!--Hide the dropdown select list-->
    <!--on a select / click event, -->
    <!-- @if(showAutoComplete) {
        <select class="dropdown">
            @for(country of countries; track $index) {
                <option (click)="selectCountry($index)" class="dropdown-item">{{ country.name }}</option>
            }
    </select>
    } -->
<!--EXPANDOOOOOOOOOOOOOOOOOOOOOOOOOOO @if (showAutoComplete) {
		  <ul class="dropdown">
		    @for (country of countries; track $index) {
		      <li class="dropdown-item" (click)="selectCountry($index)">
		        {{ country.name }}
		      </li>
		    }
		  </ul>
		} -->
  @if (showAutoComplete) {
  <ul class="dropdown">
    <!-- list by index. select country in DD and it returns the index.-->
    <!-- @for (country of countries; track $index; let i = $index) {
      <li
        class="dropdown-item"
        [class.selected]="i === selectedIndex"
        (click)="selectCountry(i)"
      >
        {{ country.name }}
      </li>
    } -->
    
    <!-- country list, click country, return 2 digit country code -->
    @for (country of countries; track $index; let i = $index;) {
      <li
        class="dropdown-item"
        [class.selected]="i === selectedIndex"
        (click)="selectCountry(country.code)"
      >
        {{ country.name }}
      </li>
    }
  </ul>
}


</div>


    

    

<button class="btn" (click)="guess()" >Guess</button>


 
</div> <!--end flags-->


  @if(message){
    <div class="error-msg">
    {{ message }}
    </div>
  } }
  
  @if(gameState === 'finished'){
    <div class="finish-msg">
    <h2>Game Over! Your score {{guessCounter}}</h2>
    </div>
  }


<!-- <span class="fi fi-fr thumbnail"></span>
<span class="fi fi-us thumbnail"></span> -->
<span style="color: orange;">CURRENT FLAG CHEAT: {{ this.guessCountries[this.currentIndex].name | json }}</span>
<br />
<br />
<span style="color: blue;">GUESSCOUNTRIES: {{ guessCountries | json }}</span>
<br />
<br />
<span style="color: green;">ALL COUNTRIES: {{ countries | json }}</span>
</main>